.coreContent {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw; 
  text-align: center;
  background-color: #1f1f1f;
  color: white;
  padding: 0 20px;
  overflow: hidden; 
}

.textContainer {
  max-width: 750px;
  width: 100%;
  min-height: 70vh; 
  display: flex;
  flex-direction: column;
  justify-content: center; 
  align-items: center; 
}

.coreContentTitle {
  font-size: 2.7rem;
  font-weight: 700;
  margin-bottom: 20px;
  line-height: 1.2;
}

.coreContentSubtitle {
  font-size: 1.5rem;
  font-weight: 400;
  margin-bottom: 20px;
}

.descriptionCore {
  font-size: 1.1rem;
  line-height: 1.6;
  margin-bottom: 30px;
  text-align: center; 
}

.buttonsContainer {
  display: flex;
  justify-content: center;
  gap: 15px;
}

.primaryButton,
.secondaryButton {
  padding: 12px 24px;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.3s ease;
}

.primaryButton {
  background-color: transparent;
  border: 1px solid #ecdfcc;
  color: #ecdfcc;
}

.primaryButton:hover {
  background-color: #cbbeaa;
  color: #1f1f1f;
}

.secondaryButton {
  background-color: #cbbeaa;
  color: #1f1f1f;
}

.secondaryButton:hover {
  background-color: #bca788;
  color: #1f1f1f;
}

.colorText {
  color: #ecdfcc;
}

@media (max-width: 768px) {

  .coreContentTitle {
    font-size: 2.5rem;
  }

  .coreContentSubtitle {
    font-size: 1.2rem;
  }

  .description {
    font-size: 0.9rem;
  }

  .buttonsContainer {
    flex-direction: column;
    gap: 10px;
  }
}
