.coreContent {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  text-align: center;
  background-color: #1f1f1f;
  color: white;
  padding: 0 20px;
  overflow: hidden;
}

.textContainer {
  max-width: 750px;
  width: 100%;
  min-height: 70vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.coreContentTitle {
  font-size: 2.7rem;
  font-weight: 700;
  margin-bottom: 20px;
  line-height: 1.2;
}

.coreContentSubtitle {
  font-size: 1.5rem;
  font-weight: 400;
  margin-bottom: 20px;
}

.descriptionCore {
  font-size: 1.1rem;
  line-height: 1.6;
  margin-bottom: 30px;
  text-align: center;
}

.buttonsContainer {
  display: flex;
  justify-content: center;
  gap: 15px;
}

.primaryButton,
.secondaryButton {
  padding: 12px 24px;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.3s ease;
}

.primaryButton {
  background-color: transparent;
  border: 1px solid #ecdfcc;
  color: #ecdfcc;
}

.primaryButton:hover {
  background-color: #cbbeaa;
  color: #1f1f1f;
}

.secondaryButton {
  background-color: #cbbeaa;
  color: #1f1f1f;
}

.secondaryButton:hover {
  background-color: #bca788;
  color: #1f1f1f;
}

.colorText {
  color: #ecdfcc;
}

@media (max-width: 1024px) {
  .coreContent {
    padding: 0;
  }

  .coreContentTitle {
    font-size: 2.5rem;
  }

  .coreContentSubtitle {
    font-size: 1.3rem;
  }

  .descriptionCore {
    font-size: 1rem;
  }
}

@media (max-width: 768px) {
  .coreContent {
    padding: 0;
  }

  .textContainer {
    padding: 0 15px;
  }

  .coreContentTitle {
    font-size: 2.2rem;
  }

  .coreContentSubtitle {
    font-size: 1.1rem;
  }

  .descriptionCore {
    font-size: 0.9rem;
  }

  .buttonsContainer {
    flex-direction: column;
    gap: 10px;
  }

  .primaryButton,
  .secondaryButton {
    width: 100%;
    text-align: center;
  }
}

@media (max-width: 480px) {
  .coreContentTitle {
    font-size: 1.8rem;
  }

  .coreContent {
    padding: 0;
  }

  .coreContentSubtitle {
    font-size: 1rem;
  }

  .descriptionCore {
    font-size: 0.85rem;
  }
}

.scrollDownArrow {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 2rem;
  color: #ecdfcc;
  animation: bounce 1.5s infinite;
  cursor: pointer;
}

@keyframes bounce {
  0%,
  100% {
    transform: translateX(-50%) translateY(0);
  }
  50% {
    transform: translateX(-50%) translateY(10px);
  }
}

@media (max-width: 768px) {
  .scrollDownArrow {
    font-size: 1.8rem;
  }
}

@media (max-width: 480px) {
  .scrollDownArrow {
    font-size: 1.5rem;
  }
}
