.aboutContent {
  background-color: #1f1f1f;
  color: white;
  font-family: "Poppins", sans-serif;
  min-height: 70vh;
  height: 100vh;
  width: 100vw;
  text-align: center;
  padding: 0 20px;
  overflow: hidden;
  margin-bottom: 100px;
}

.progColor {
  color: #ecdfcc;
}

.aboutTitle {
  font-size: 2.5rem;
  font-weight: bold;
  text-align: center;
  margin-bottom: 30px;
  color: #ecdfcc;
}

.aboutContentContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 50px;
  max-width: 800px;
  margin: 0 auto;
}

.aboutContentImage img {
  width: 90%;
  max-width: 400px;
  border-radius: 10px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.5);
}

.aboutContentText {
  flex: 1;
  font-size: 1rem;
  line-height: 1.8;
}

@media (max-width: 768px) {
  .aboutContentContainer {
    flex-direction: column;
    text-align: center;
  }

  .aboutContentImage img {
    max-width: 300px;
    margin-bottom: 20px;
  }
}
