.aboutContent {
  color: white;
  display: flex;
  justify-content: left;
  position: relative;
  margin: 0 auto;
  width: 90%;
}

.aboutMeContainer {
  width: 100%;
  min-height: 100vh;
}

.hiName {
  color: white;
  margin: 0 auto;
  width: 90%;
}

.paraText {
  margin: 0 auto;
  width: 90%;
  color: rgb(179, 164, 164);
  display: flex;
}

.textInPara {
  width: 40%;
  line-height: 30px;
  font-size: 18px;
  margin-right: 25rem;
}

.aboutMePic {
  width: 25%;
  border-radius: 4%;
}
